/* ------- Variable ------- */
$color_main: #FAD312;
$color_grey_light: #999;
$color_grey_dark: #333;
$width-l: 960px;
$width-m: 860px;
$width-s: 700px;

/* ------- media query ------- */
$breakpoints: ("phone": 375px, "phone-l": 480px, "tablet-s": 640px, "tablet": 768px, "desktop": 1024px, "desktop-l": 1200px);

@mixin mq($width) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @media screen and (max-width: $width) {
            @content;
        }
    }
}


/* ------- mixins ------- */

/* size */
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


/* pseudo */
@mixin pseudo($display: block, $content: '') {
    content: '';
    display: $display;
}


/* position */
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin absolute($args...) {
    @include position(absolute, $args...);
}

@mixin relative($args...) {
    @include position(relative, $args...);
}


/* icon */
@mixin icon ($icon-color, $icon-url, $icon-type: inline-block) {
    display: $icon-type;
    background-color: $icon-color;
    mask-size: cover;
    mask-image: url('./../image/'+ $icon-url);
}


/* ------- extends ------- */
%transition {
    transition: all .4s;
}

%reset {
    margin: 0;
    padding: 0;
}

%responsive-img {
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
}


/* ------- elements ------- */

/* btn */
%btn {
    display: inline-block;
    font-size: 14px;
    padding: 5px 30px;
    background: $color_main;
    color: #000;
    border-radius: 0;
    text-decoration: none;
    @extend %transition;
}


/* title */
%title {
    display: inline-block;
    margin: 0 auto 60px auto;
    border-bottom: 4px solid $color_main;
    padding-bottom: 5px;

    span {
        color: $color_grey_dark;
        font-size: 22px;
        font-weight: 500;

        &::before {
            @include pseudo();
            @include size(20px);
            @include icon(#000,
                '');
            @include relative($right: 5px, $top: 3px);
        }
    }

    &.dark-mode {
        border-color: #626262;

        span {
            color: $color_main;
        }
    }
}


/* title - 各區塊標題 */
.section__title span::before {
    .description & {
        mask-image: url('./../image/title_description.png');
    }

    .team & {
        width: 22px;
        height: 22px;
        mask-image: url('./../image/title_team.png');
    }

    .schedule & {
        mask-image: url('./../image/title_schedule.png');
    }

    .history & {
        width: 25px;
        height: 25px;
        top: 5px;
        mask-image: url('./../image/title_history.png');
        background-color: $color_main;
    }

    .judge & {
        color: #fff;
        mask-image: url('./../image/title_judge.png');
        background-color: $color_main;
    }

    .subscribe & {
        mask-image: url('./../image/title_subscribe.png');
    }
}


/* ------- layout ------- */
* {
    font-family: 'Arvo', 'Noto Sans TC', sans-serif;
}

html,
body {
    @extend %reset;
    -webkit-overflow-scrolling: touch;
}

body {
    background: #fff;

    main {
        z-index: 2;
        margin-bottom: 400px;
        background: #fff;
        padding-top: 50px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    .footer {
        background: #000;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        padding: 0;
    }
}

ul {
    @extend %reset;
    list-style: none;
}

.section {
    padding: 50px 20px;
    margin: 0 auto;

    .section__title {
        @extend %title;
    }

    @include mq('phone') {
        padding: 30px 15px;
    }
}


/* ------- nav ------- */
.nav {
    background: #fff;
    width: 100%;

    .navbar {
        @extend %transition;
        background: #fff !important;
        width: $width-m;
        padding: 30px;
        margin: 0 auto;
        justify-content: space-between;

        button:hover,
        button:focus {
            outline: none;
        }
    }

    .nav__logo {
        @include size(160px,
            45px);
        background: url('./../image/logo_nav.png') no-repeat center center;
        background-size: 100% auto;
    }

    /* nav - 滑動中 */
    &.nav-scrolled {
        .navbar {
            padding: 10px 15px;
        }

        .nav__logo {
            width: 120px;
        }
    }
}


/* nav - 按鈕 */
.navbar .navbar-nav {
    width: 100%;
    justify-content: space-evenly;

    .nav-item {
        font-size: 15px;
        color: #666;
        position: relative;
        padding: 10px;

        &:hover::after {
            opacity: 1;
            transform: scale(1);
        }

        &::after {
            @include pseudo();
            @include size(25px,
                2px);
            @include absolute($left: 6px, $bottom: 0);
            transform-origin: 0 50%;
            transition: transform .3s cubic-bezier(.785, .135, .15, .86), opacity .3s cubic-bezier(.785, .135, .15, .86);
            transform: scaleX(.5);
            background: $color_main;
            opacity: 0;
        }
    }
}


/* nav - 蓋預設樣式 */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}


/* nav - RWD */
.navbar-nav {
    @include mq('desktop-l') {
        text-align: center;
        padding-top: 30px;
    }
}


/* ------- header ------- */
.header {
    height: calc(100vh - 100px);
    background: linear-gradient(-90deg, transparent 30%, $color_main 0), #fff;
    display: flex;
    align-items: center;

    .bg {
        width: 80%;
        height: 70vh;
        margin: 0 auto;
        background: url('./../image/bg_header.png') no-repeat center center;
        background-size: 80% auto;
    }
}


/* header - RWD */
.header {
    @include mq('desktop-l') {
        background: #fff;
        height: auto;

        .bg {
            @include size(100%,
                500px);
            background-size: auto 100%;
        }
    }

    @include mq('tablet') {
        .bg {
            height: 60vw;
            /* 依照圖片比例縮放 */
        }
    }
}


/* ------- 比賽簡介 ------- */
.description {
    text-align: center;
    padding: 0;

    .description__bg {
        background: #fff url('./../image/bg_description.jpg') no-repeat center center;
        background-size: 100% auto;
        background-attachment: fixed;

        .description__inner {
            max-width: $width-m;
            margin: 0 auto;
            text-align: left;
            padding: 30px 20px;
        }
    }

    .description__summary {
        color: #fff;
        font-size: 15px;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 1px 1px 0 rgba(0, 0, 0, 0.8);
        line-height: 1.7rem;
        letter-spacing: 0.14em;

        span {
            color: $color_main;
        }
    }
}


/* 比賽簡介 - 標題 ------- */
.description__title {
    height: 120px;
    position: relative;
    color: #fff;
    margin-bottom: 3rem;

    h4 {
        height: 120px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        span {
            color: $color_main;
        }
    }

    .typed-cursor {
        color: $color_main;
    }

    &::after {
        @include absolute($left: 0, $top: 65px);
        @include size(170px, 10px);
        @include pseudo();
        background: lighten($color_main, 10%);
        z-index: 1;
    }
}

.description .description__bg {
    @include mq('desktop') {
        background-size: 140% auto;
    }

    @include mq('tablet-s') {
        background-color: #000;
        background-image: url('./../image/bg_description-mobile.jpg');
        background-size: 100% auto;
        background-attachment: initial;
    }

    @include mq('phone-l') {
        background-size: auto 100%;
    }
}

.description .description__summary {
    @include mq('phone-l') {
        padding: 10px;
        background: rgba(0, 0, 0, 0.2);
    }
}


/* ------- 參賽隊伍 ------- */
.team {
    max-width: $width-m;
    text-align: center;
    background: #fff;

    .team-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


/* 組 */
.team__item {
    @extend %transition;
    width: 31%;
    cursor: pointer;
    margin-bottom: 50px;

    .team__btn {
        @extend %btn;
        @include relative($top: -20px);
    }
}


/* 組__標題 */
.team__title {
    text-align: left;
    padding: 20px 10px;
    font-size: 18px;
    font-weight: bold;
    background: lighten($color_main, 10%);
    position: relative;
    margin-bottom: 7px;

    &:before {
        @include pseudo($display: inline-block);
        @include size(15px);
        @include icon(#000,
            'add-circular-outlined-button.png');
        @include absolute($right: 10px);
    }

    .team__name {
        color: $color_grey_light;
        display: block;
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 10px;
    }
}


/* 組__圖片 */
.team__pic {
    height: 140px;
    position: relative;
    @extend %responsive-img;

    &::after {
        @extend %transition;
        @include absolute($left: 0, $top: 0);
        @include pseudo();
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom right, rgba(130, 125, 168, 0), #e5b01c59);
    }
}


/* 組 - 基數組 */
.team__item:nth-of-type(even) {
    .team__title {
        background: #000;
        color: #fff;
        border-color: #000;

        &:before {
            background-color: #fff;
        }
    }

    &:hover {
        .team__pic::after {
            border-color: #000;
        }

        .team__btn {
            background: #000;
            color: #fff;
        }
    }
}


/* 組 - hover */
.team__item:hover {
    transform: scale(1.02);

    .team__pic::after {
        width: 96%;
        height: 94%;
        border: 3px solid $color_main;
        left: 2%;
        top: 3%;
        background: none;
    }

    .team__btn {
        top: -37px;
    }
}


/* 組 - RWD */
.team__item {
    @include mq('desktop') {
        width: 30%;
    }

    @include mq('tablet') {
        width: 48%;

        .team__pic {
            height: 180px;
        }
    }

    @include mq('tablet-s') {
        .team__pic {
            height: 130px;
        }
    }

    @include mq('phone-l') {
        width: 100%;
        margin-bottom: 10px;

        .team__pic {
            height: auto;
        }
    }
}


/* ------- 活動時程 ------- */
.schedule {
    text-align: center;
    background: $color_main;
    color: #fff;

    .table {
        max-width: $width-l;
        margin: 0 auto;
    }
}


/* table - 蓋預設樣式 */
.table-bordered,
.table thead th {
    border: 2px solid $color_grey_dark;
}

.table-bordered {

    td,
    th {
        border: 1px solid $color_grey_dark;
    }

    thead td,
    thead th {
        background: $color_grey_dark;
        color: #fff;
    }
}


/* ------- 歷屆成績 ------- */
.history {
    text-align: center;
    background: #000 url('./../image/bg_history.png') repeat-y center center;
    background-attachment: fixed;
    background-size: $width-l auto;

    .history__list {
        max-width: $width-l;
        margin: 0 auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* 歷屆成績 - RWD */
.history {
    @include mq('tablet-s') {
        background-image: url('./../image/bg_history-mobile.png');
        background-size: cover;
        background-attachment: initial;
    }

    .history__list {
        @include mq('tablet') {
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 360px;
        }
    }
}


/* 歷屆成績 - 組 */
.history__item {
    width: 22%;
    border: 2px solid $color_main;
    padding: 20px 0;
    color: #fff;
    box-shadow: 0 0 2px 0px #000;

    p {
        font-size: 40px;
        margin: 0;
    }

    span {
        @include relative($top: -10px);
        font-size: 14px;
    }
}


/* 歷屆成績 - 組 - RWD */
.history__item {
    @include mq('tablet') {
        width: 45%;
        margin-bottom: 20px;
    }
}


/* ------- 使用者見證 ------- */
.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    max-width: $width-m;
    color: #fff;
    margin: 0 auto;

    .comments__item {
        width: 44%;
        font-size: 15px;
        margin-bottom: 2.5rem;
        line-height: 2rem;
        position: relative;

        p {
            padding-left: 90px;
            text-align: left;
        }
    }
}


/* 使用者見證 - icon */
.comments__icon {
    @include absolute($left: 0, $top: 0);
    @include size(70px);
    @include icon($color_main,
        '');

    &.icon-strength {
        mask-image: url('./../image/icon-strength.png');
    }

    &.icon-buddha {
        width: 80px;
        height: 80px;
        mask-image: url('./../image/icon-buddha.png');
    }

    &.icon-sleep {
        mask-image: url('./../image/icon-sleep.png');
    }

    &.icon-bao {
        mask-image: url('./../image/icon-bao.png');
    }
}


/* 使用者見證 - RWD */
.comments .comments__item {
    @include mq('tablet-s') {
        width: 100%;
    }
}


/* ------- 評審介紹 ------- */
.judge {
    background: #000;
    text-align: center;

    .judge__nav {
        max-width: 600px;
        margin: 0 auto 30px auto;
        padding: 0 25px;

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .slick-dots {
            display: none !important;
        }
    }
}


/* nav */
.judge__item {
    @extend %transition;
    padding: 5px;
    cursor: pointer;

    .pic {
        position: relative;
        @extend %responsive-img;

        img {
            @extend %transition;
            filter: grayscale(90%);
        }
    }
}


/* nav - hover 效果 */
.judge__item .pic {
    &::before {
        @include pseudo();
        @include size(90%);
        @include absolute($left: 5%, $top: 5%);
        @extend %transition;
        border: 2px solid $color_main;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        z-index: 1;
    }

    &::after {
        @include pseudo();
        @include size(20px);
        @include icon(#fff,
            'add-circular-outlined-button.png',
            block);
        @include absolute($left: calc(50% - 10px), $bottom: calc(50% - 10px));
        opacity: 0;
        z-index: 1;
    }
}


/* nav - hover */
.judge__item:hover {
    transform: scale(1.02);

    p,
    .pic::before,
    .pic::after {
        opacity: 1;
    }
}

.judge__item:focus {
    outline: none;
}


/* nav - center */
.slick-center {
    transform: scale(1.1);

    .pic img {
        filter: none;
    }
}


/* gallery */
.judge__gallery {
    @include relative($left: -50px);
    max-width: $width-l;
    margin: 0 auto 30px auto;
    padding-left: 30px;

    .pic {
        @include size(calc(100% - 180px), 350px);
        @extend %responsive-img;
        border-top: 4px solid $color_main;
        float: right;
        display: flex;

        img {
            align-self: center;
        }
    }

    .judge__card {
        @include relative($right: -30px, $top: 40px);
        @include size(180px,
            260px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        float: left;
        border-top: 4px solid #aaa;
        background: #363636;
        color: #fff;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.34), 2px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 20px 10px;
    }
}


/* gallery - card */
.judge__card {
    .judge__card-title {
        font-size: 15px;
        position: relative;

        &::after {
            @include pseudo($display: inline-block);
            @include size(20px, 5px);
            @include absolute($left: calc(50% - 10px), $bottom: 10px);
            background: $color_main;
        }
    }

    .judge__card-summary {
        font-size: 13px;
        color: $color_grey_light;
        text-align: left;
    }

    .btn {
        @extend %btn;
        border: 1px solid $color_main;
        background: none;
        color: $color_main;
        align-self: flex-end;
    }
}


/* gallery - RWD */
.judge__gallery {
    @include mq('desktop') {
        left: 0;
        padding-left: 0;

        .pic,
        .judge__card {
            height: 300px;
        }

        .judge__card {
            right: 0;
            top: 0;
        }
    }

    @include mq('tablet') {

        .pic,
        .judge__card {
            height: 250px;
        }
    }

    @include mq('tablet-s') {
        padding-left: 0;

        .pic {
            width: 100%;
            height: auto;
            float: none;
        }
    }
}


/* gallery - card - RWD */
.judge__gallery .judge__card {
    @include mq('tablet-s') {
        @include absolute($left: 0, $top: auto, $bottom: 0);
        @include size(100%,
            60px);
        float: none;
        flex-wrap: no-wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        border-top: none;
        background: rgba(0, 0, 0, 0.6);

        .judge__card-summary,
        .judge__card-title::after {
            display: none;
        }

        .btn {
            align-self: center;
            padding: 5px 20px;
            margin-left: 10px;
        }
    }
}


/* ------- footer ------- */

/* 報名資訊 ------- */
.subscribe {
    background: #fff url('./../image/bg_footer.png') no-repeat center center;
    background-size: auto 380px;
    border-bottom: 3px solid $color_main;

    .subscribe__inner {
        max-width: $width-s;
        margin: 0 auto;
        padding: 40px 20px;
        text-align: center;

        .subscribe__summary {
            letter-spacing: .15rem;
            line-height: 2rem;
            font-weight: 500;
            color: #666;
            margin-bottom: 40px;
        }
    }
}


/* form */
.subscribe__input {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    height: 40px;

    input[type='email'] {
        outline: none;
        border: none;
        padding: 10px;
        display: block;
        width: 100%;
        background: none;
        border-bottom: 2px solid #000;
    }

    button {
        @extend %btn;
        margin-left: 10px;
        width: 30%;
        border: 2px solid #000;
        background: none;
        padding: 5px 20px;

        &:hover {
            background: #000;
            color: #fff;
        }
    }
}


/* form - RWD */
.subscribe__input button {
    @include mq('phone') {
        width: 40%;
        padding: 5px 10px;
    }
}


/* footer 社群 ------- */
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $width-l;
    margin: 0 auto;
    padding: 20px;
    color: #fff;

    .copyright {
        color: $color_grey_light;
        margin: 0;
        font-size: 13px;
    }
}

.footer__social-media {
    display: flex;
    align-items: center;

    .footer__social-icon {
        @include size(30px);
        @include icon(#bbb, '');
        margin-left: 5px;
        cursor: pointer;

        &:hover {
            background: #eee;
        }

        &.icon-fb {
            mask-image: url('./../image/icon-fb.png');
        }

        &.icon-twitter {
            mask-image: url('./../image/icon-twitter.png');
        }

        &.icon-ig {
            mask-image: url('./../image/icon-ig.png');
        }

        &.icon-g-plus {
            mask-image: url('./../image/icon-g-plus.png');
        }
    }
}